@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600&display=swap");

body{
    margin: 0;
}

:root {
  --altura-cabecalho: 3.5rem;

  --cor-principal: hsl(230, 75%, 56%);
  --cor-titulo: hsl(240, 100%, 100%);
  --cor-texto: hsl(0, 0%, 100%);
  --cor-fundo: hsl(0, 0%, 0%);
  --cor-container: hsl(230, 100%, 97%);
  --cor-borda: hsl(230, 25%, 80%);

  --fonte-corpo: "Syne", sans-serif;
  --tamanho-fonte-h2: 1.25rem;
  --tamanho-fonte-normal: .938rem;

  --peso-fonte-regular: 400;
  --peso-fonte-medium: 500;
  --peso-fonte-semi-bold: 600;

  --z-fixo: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 1023px) {
  :root {
    --tamanho-fonte-h2: 1.5rem;
    --tamanho-fonte-normal: 1rem;
  }
}

#ajustar_tamanho_logo{
  width: 50%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body,
input,
button {
  font-family: var(--fonte-corpo);
  font-size: var(--tamanho-fonte-normal);
}

body {
  color: var(--cor-texto);
}

input,
button {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.principal {
  position: relative;
  height: 100vh;
}

.principal__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.buscar,
.login {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-modal);
  background-color: hsla(230, 75%, 15%, .1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  padding: 8rem 1rem 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .4s;
}

.buscar__fechar,
.login__fechar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: var(--cor-titulo);
  cursor: pointer;
}

.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--cor-fundo);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixo);
}

.nav {
  height: var(--altura-cabecalho);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 70%;
}

.nav__acoes {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.nav__buscar,
.nav__login,
.nav__toggle,
.nav__fechar {
  font-size: 1.25rem;
  color: var(--cor-titulo);
  cursor: pointer;
  transition: color .4s;
}


:is(.nav__logo, .nav__buscar, .nav__login, .nav__toggle, .nav__link):hover {
  color: var(--cor-principal);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--cor-fundo);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, .15);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }

}



.nav__lista {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
}

.nav__link {
  color: var(--cor-titulo);
  font-weight: var(--peso-fonte-semi-bold);
  transition: color .4s;
}
#selecionar_noticia{
  border: none;
  outline: none;
  font-size: var(--tamanho-fonte-normal);
}
#borda_noticia{
  border: none;
  outline: none;
  background-color: var(--cor-fundo);
  border-radius: .5rem;
  font-size: 0.9rem;
  font-family: var(--fonte-corpo);
  font-weight: bold;
}
.nav__fechar {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

.mostrar-menu {
  top: 0;
}

.buscar__formulario {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  background-color: var(--cor-container);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  padding-inline: 1rem;
  border-radius: .5rem;
  transform: translateY(-1rem);
  transition: transform .4s;
}

.buscar__icone {
  font-size: 1.25rem;
  color: var(--cor-titulo);
}

.buscar__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--cor-container);
  color: var(--cor-texto);
}

.buscar__input::placeholder {
  color: var(--cor-texto);
}

.mostrar-busca {
  opacity: 1;
  pointer-events: initial;
}

.mostrar-busca .buscar__formulario {
  transform: translateY(0);
}

.login__formulario,
.login__grupo {
  display: grid;
}

.login__formulario {
  background-color: var(--cor-container);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, .2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform .4s;
  
}


.login__titulo {
  font-size: var(--tamanho-fonte-h2);
  color: var(--cor-titulo);
}

.login__grupo {
  row-gap: 1rem;
  max-height: 100%;
  height: 300px;
  overflow-y: scroll;
}

.login__label {
  display: block;
  text-align: initial;
  color: var(--cor-titulo);
  font-weight: var(--peso-fonte-medium);
  margin-bottom: .25rem;
}

.login__input {
  width: 100%;
  background-color: var(--cor-container);
  border: 2px solid var(--cor-borda);
  padding: 1rem;
  border-radius: .5rem;
  color: var(--cor-texto);
}

.login__input::placeholder {
  color: var(--cor-texto);
}

.login__registro {
  margin-bottom: .5rem;
  color: black;
}

.login__registro a {
  color: var(--cor-principal);
}

.login__esqueci {
  display: inline-block;
  color: var(--cor-principal);
  margin-bottom: 1.25rem;
}

.login__botao {
  display: inline-block;
  background-color:  #023859;
  width: 100%;
  color: #fff;
  font-weight: var(--peso-fonte-semi-bold);
  padding: 1rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: box-shadow .4s;
}

.login__botao:hover {
  box-shadow: 0 4px 24px hsla(230, 75%, 40%, .4);
}

.mostrar-login {
  opacity: 1;
  pointer-events: initial;
}

.mostrar-login .login__formulario {
  transform: translateY(0);
}

#fixar{
  position: sticky;
}

#ajustar_tamanho{
  height: 12%;
  overflow: hidden;
}

#audio_button{
  color: black;
}

@media screen and (min-width: 50px) {

#audio_button {
  padding: 0.3rem 0.1rem;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  
  background-color: var(--cor-fundo);
  transition: 0.5s;
  &:hover {
    filter: brightness(0.8);
  }
  display: flex;
  justify-content: center;
  align-items: center;

  &.mudo .com {
    display: none;
  }

  &:not(.mudo) .sem {
    display: none;
  }

  svg {
    width: 30px;
    height: 30px;
    color: hsl(230, 75%, 15%);
  }
}


@media screen and (min-width: 576px) {


  .buscar,
  .login {
    padding-top: 10rem;
  }

  .buscar__formulario {
    max-width: 450px;
    margin-inline: auto;
  }

  .buscar__fechar,
  .login__fechar {
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }

  .login__formulario {
    max-width: 400px;
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  .login__formulario {
    max-width: 400px;
    width: 80%;
    margin: 0;
  }
}

@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--altura-cabecalho) + 2rem);
    column-gap: 3rem;
  }

  .nav__fechar,
  .nav__toggle {
    display: none;
  }

  .nav__menu {
    margin-left: 30%;
  }

  .nav__lista {
    flex-direction: row;
    column-gap: 3rem;
  }

  .login__formulario {
    padding: 3rem 2rem 3.5rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
}
@media screen and (max-width: 1920px) and (min-width: 1080px) {
  .seleciona_sumir{
    display: none;
  }
}